 header h1{
   font-size: 50px;
   color: rgb(255, 255, 255);
   font-weight:bold;
   text-align: center;
   margin-bottom: 60px;
   background-color: rgb(39, 82, 20);
   padding: 20px;
   border: rgb(168, 0, 0);
   border-style: solid;
   border-width: 5px;
 }

 header h1:hover{
   background-color: rgb(235, 221, 23);
   border: darkgreen;
 }

div {
  background-color: green;
  display:block;
  width: 30%;
}
div a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 15px;
  display:inline-block;
}
header ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}
ul li {display: inline-block;}
ul li:hover {background: #555;}
ul li:hover ul {display: block;}
ul li ul {
  position: absolute;
  width: 200px;
  display: none;
}
ul li ul li { 
  background: #555; 
  display: block; 
}
ul li ul li a {display:block !important;} 
ul li ul li:hover {background: #666;}

header{
  margin-bottom: 5%;
}





body {
   
padding: 25px;
background-color: rgb(255, 254, 254);
color: rgb(20, 18, 18);

}

main ul h1{
  display: block;
  margin-bottom: 70px;
  border-style: solid;
  border-width: 7px ;
  border-color: rgb(51, 47, 54);
  width: 60%;
}
main ul li{
  display: block;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}

main ul li:hover{
  display: inline-block;
  background-color: darkseagreen;
}

#first{
  margin-top: 20px;
}



main ul img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 5%;
}

main img:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}




  footer p{
    font-size: 25px;
    display:block;
    padding: 30px;
    text-align: center;
    margin-top: 100px;
    background-color: rgb(139, 139, 126);
    margin-bottom: 30px;
    cursor:grab;
  }
  footer p:hover{
    background-color: rgb(28, 54, 2);
  }
