 
 body {
padding: 25px;
 background-color: rgb(243, 234, 234);
color: rgb(20, 18, 18);
font-size: 25px;
}
.dark-mode {
 background-color: rgba(0, 0, 0, 0.733);
color: rgb(243, 233, 233);
 }

 main table {
     margin-top: 40px;
    width: 75%;
    font-size:20px;
    text-align: center;
    margin-left:auto; 
    margin-right:auto;
  }

  table, th, td {
    border: 1px solid black;
  }

  footer{
      text-align: center;
      margin-top: 100px;
      background-color: cornflowerblue;
  }